.App {
  margin: 100px auto;
  width: 60%;
  max-width: 400px;
  text-align: left;
}

.SearchInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
}

.ProductTable {
  margin: 50px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);*/
  border: 2px solid rgb(244, 244, 244);
}

th {
  text-align: center;
  background-color: rgb(250, 250, 250);
}
